
<div class="collapse navbar-collapse" id="sidenav-collapse-main">
    <!-- Nav items -->
    <hr class="my-3">
    <h6 class="navbar-heading p-0 text-muted">
        <span class="docs-normal">Sample Application</span>
    </h6>
    <ul class="navbar-nav mb-md-3">

        <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
            <i class="ni ni-planet text-orange"></i>
            <span class="nav-link-text">Icons</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link  active" href="/map.html">
            <i class="ni ni-pin-3 text-primary"></i>
            <span class="nav-link-text">Google</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
            <i class="ni ni-bullet-list-67 text-default"></i>
            <span class="nav-link-text">Tables</span>
            </a>
        </li>

    </ul>
</div>
