{% load i18n %}
<!-- language toggle icon and sub menu-->
  <!-- 
    
  -->

  <li class="nav-item dropdown" data-toggle="tooltip" data-original-title="Toggle language">
    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-globe"></i>
      <span class="nav-link-inner--text d-lg-none">{% trans "Language" %}</span>
    </a>

    <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
      <!-- Dropdown header -->
      <div class="px-3 py-3">
        <h6 class="text-sm text-muted m-0">{{ request.user.profile.preferred_language }}</h6>
      </div>
      <!-- List group -->
      <div class="list-group list-group-flush">
        {% for language in SupportedLanguages %}
              <a href="{% url 'togglelanguage' language_id=language.id %}" class="list-group-item list-group-item-action">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <img alt="{{ language.description }}" src="{{ language.flag_url }}" class="avatar rounded-circle">
                  </div>
                  <div class="col ml--2">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <h4 class="mb-0 text-sm">{{ language.description }}</h4>
                      </div>
                      <div class="text-right text-muted">
                      </div>
                    </div>
                  </div>
                </div>
               </a>
          {% endfor %}
      </div>
    </div>

  </li>



  <!-- language toggle ends-->